In [2]:
# Download Titanic dataset and save as CSV
import pandas as pd
import seaborn as sns

# Load Titanic dataset
print("ðŸ“¥ Downloading Titanic dataset...")
titanic = sns.load_dataset("titanic")

# Select a few useful columns & rename them for our ETL pipeline
titanic = titanic[["age", "fare", "sex", "class", "survived"]]
titanic.rename(columns={
    "fare": "salary",
    "sex": "department",
    "survived": "target"
}, inplace=True)

# Save to CSV for pipeline use
titanic.to_csv("data.csv", index=False)
print("âœ… Titanic dataset saved as data.csv")

# Preview data
titanic.head()

ðŸ“¥ Downloading Titanic dataset...
âœ… Titanic dataset saved as data.csv

    age   salary department  class  target
0  22.0   7.2500       male  Third       0
1  38.0  71.2833     female  First       1
2  26.0   7.9250     female  Third       1
3  35.0  53.1000     female  First       1
4  35.0   8.0500       male  Third       0